<?xml version="1.0" encoding="utf-8" ?>
<!--
/********************************************************************************************** 
* Product: Google Maps Module
* Author : IE Agency (http://www.ie.com.au) - Heiko Franz
* Purpose: Google Maps to be controlled from within Sitecore
* Status : Published
*
* This is a Sitecore shared source module with Sitecore and IE both not liable for the use
* of this code, please refer to the license information:
* http://sdn.sitecore.net/Resources/Shared%20Source/Shared%20Source%20License.aspx
**********************************************************************************************/
-->
<configuration>
    <sitecore>
        <commands>
            <!-- "Show Map" command for a single latitude/longitude field -->
            <command name="item:showMap" type="Sitecore.SharedSource.GoogleMaps.SitecoreCommands.ShowMap,Sitecore.SharedSource.GoogleMaps" />
            <!-- "Show Map" command for a multilist of latitude/longitude points (line or polygon) -->
            <command name="item:showMapForMultiple" type="Sitecore.SharedSource.GoogleMaps.SitecoreCommands.ShowMapMultiplePoints,Sitecore.SharedSource.GoogleMaps" />
        </commands>
        <settings>
            <!-- Sitecore path of the settings item for the module -->
            <setting name="GoogleMapForSitecore.SitecoreSettingsPath" value="/sitecore/system/Modules/Google Maps Settings/Settings" />            
            <!-- Name of the template for a map -->
            <setting name="GoogleMapForSitecore.GoogleMapTemplateName" value="Google Map" />
            <!-- Name of the template for a location marker -->
            <setting name="GoogleMapForSitecore.LocationTemplateName" value="Location" />
            <!-- Name of the template for a line -->
            <setting name="GoogleMapForSitecore.LineTemplateName" value="Line" />
            <!-- Name of the template for a polygon -->
            <setting name="GoogleMapForSitecore.PolygonTemplateName" value="Polygon" />
            <!-- Name of owner of log entries -->
            <setting name="GoogleMapForSitecore.LoggingOwner" value="Google Maps Control" />
            <!-- relative URL to the map element editor page -->
            <setting name="GoogleMapForSitecore.EditorURL" value="/sitecore modules/Shell/GoogleMapsForSitecore/Editor.aspx" />
        </settings>
    </sitecore>
</configuration>